* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

body {
    justify-content: center;   
    align-items: center; 
    grid-template-columns: repeat(1, 1fr); 
    gap: 20px; 
    font-size: 16px;
}

header{
    align-items: center; 
    padding: 10px;
    background-color: lightcoral; 
}

.logo-title {
    display: flex; 
    align-items: center; 
}

.logo{
    width: 100px; 
    height: 100px; 
}


.mobile-menu{
    padding: 10px 20px; 
    background-color: papayawhip; 
    text-align: center;
    text-decoration: none; 
    font-size: 16px; 
    border-radius: 5px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 60px;
}

.menu-item{
    list-style: none;
}


nav ul li{
    padding: 20px;
    
}
.hero-image{
    width: 50;
    height: 50;
}

main{
    text-align: center;
}

.section-A{
    padding: 20px;              
    border: 2px solid papayawhip;      
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 60px;
}

.section-B{
    padding: 20px;              
    border: 2px solid papayawhip;      
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 60px;
}



footer{
    display: flex;
    align-items: center; 
    padding: 40px;
    background-color: lightcoral; 
}

@media (min-width: 44rem) {
    .sections {
        display: grid;             
        justify-content: center;   
        align-items: center; 
        grid-template-columns: repeat(12, 1fr); 
        grid-template-rows: 1fr;   
        font-size: 16px;  
    }

    section {
        grid-column: span 6;
        height: 100%;
        position: relative;
        display: block;
        text-align: left;
 
    }

    .read-more{
        bottom: 20px; 
        position: absolute;  
        display: inline-block; 
        padding: 10px 20px; 
        background-color: papayawhip; 
        text-align: center;
        text-decoration: none; 
        font-size: 16px; 
        border-radius: 5px; 
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    .footer-link{
        display: flex;
        flex-direction: vertical;
        justify-content: space-around;
        width: 100%;
    }

    .mobile-menu {
        display: none;
    }

    nav ul{
        display: flex;
        flex-direction: vertical;
        justify-content: space-around;
        width: 100%;
    }
    
    nav ul button{
        display: inline-block; 
        padding: 10px 20px; 
        background-color: papayawhip; 
        text-align: center;
        text-decoration: none; 
        font-size: 16px; 
        border-radius: 5px; 
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

} 

@media (max-width: 44rem) {
    .sections {
        display: flex; 
        flex-direction: column;
       
    }

    .menu {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
    
    
    
}
